.product-images {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.product-images__title {
    display: block;
}

.product-images__list {
    display: flex;
    gap: var(--spacing-2);
}

.product-images__add {
    width: 7rem;
    height: 7rem;
    border: 2px dashed #999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.product-images__add-icon {
    font-weight: bold;
}

.product-images__add-text {
    font-size: 12px;
}

.product-images__item {
    position: relative;
    width: 7rem;
    height: 7rem;
}

.product-images__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.product-images__remove-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 10;

    background-color: white;
    border: 1px solid #ccc;
    border-radius: var(--radius-full);
    width: 1.5rem;
    height: 1.5rem;
}

.product-images__note {
    font-size: var(--fs-caption);
    color: #555;
}

.product-images__input {
    display: none;
}
