.root-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    accent-color: var(--color-brand-500);
}

.root-layout__body {
    /* padding-block: var(--spacing-12); */
    display: flex;
    flex-direction: column;
}
