.featured-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.featured-products-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.featured-products-header h4 {
    text-decoration: underline;
}
.featured-products-header a {
    color: inherit;
}
.featured-products-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: start;
    align-content: start;
    gap: var(--spacing-4);
}
