.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-3);
}

.cart-item__info {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
}

.cart-item__img {
    width: 80px;
    height: 80px;
    object-fit: cover;

    border-radius: var(--radius-base);
}

.cart-item__details {
}

.cart-item__tag {
    font-size: var(--fs-caption);
    color: var(--color-gray-500);
    padding-inline: var(--spacing-3);
    padding-block: var(--spacing-1);
}

.cart-item__name {
    margin: 5px 0;
    font-size: 14px;
}
