@import "./resets.css";
@import "./fonts.css";
@import "./spacing.css";
@import "./colors.css";
@import "./display.css";
@import "./position.css";
@import "./radii.css";
@import "./shadows.css";
@import "./typography.css";

html,
body,
#root {
    height: 100%;
}

body {
    color: var(--color-gray-900);
    accent-color: var(--color-brand-500);

    font-size: var(--fs-body);

    min-height: 100vh; /* for browsers that don't support `dvh` yet */
    min-height: 100dvh;
}

.container {
    max-width: 1440px;
    width: 100%;

    padding-inline: var(--spacing-4);
    margin-inline: auto;
}

.home-page-section {
    margin-block: var(--spacing-8);
    padding-top: var(--spacing-12);
}
